extends partial/layout.pug

block site_title
    != page.title + ' • ' + config.title

block description
    - var desc = page.desc || page.title + ' - ' + config.author;
    meta(name='description', content=desc)

block container
    include mixins/post.pug
    +post(page)

block pagination
    include mixins/paginator.pug
    +post()
    include partial/comment.pug

block copyright
    include partial/copyright.pug