.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]
        a(href='https://hexo.io/', rel='noreferrer', target='_blank') Powered by Hexo
        a(href="https://icons8.com/icon/70864/cycling-mountain-bike") Cycling Mountain Bike favicon by Icons8